@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --hero-color: #e02c6d;
  --footer-color: #0a0826;
  --text-color: #3a3a3a;
  --text-color2: #5e6366;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins";
  color: var(--text-color);
}
#main_container {
  width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

/* header section */

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

header h2 {
  flex: 1;
}
nav {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 30px;
  font-weight: 500;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

/* hero section  */

#hero_sec {
  display: flex;
  align-items: center;
  height: 500px;
}

.hero_content {
  width: 50%;
}

.hero_content h1 {
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 20px;
}

.hero_content p {
  width: 90%;
  font-weight: 500;
  margin-bottom: 30px;
}

.heroBtn {
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 16px;
}

.heroBtn i {
  margin-left: 10px;
}

.heroBtn:hover {
  transform: scale(1.05);
}

.hero_image {
  width: 50%;
  height: 450px;
  background-image: url(./images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_image img {
  width: 450px;
}

/* brand section */

#brand_sec {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    to left,
    #c0ccda38,
    #c0ccdaa8,
    #c0ccda38
  );
  margin: 50px 0px;
}

#brand_sec img {
  height: 35px;
}

/* popular collection */

#popular_sec {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
#popular_sec h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}

#products_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#product_option {
  width: 330px;
  padding: 15px;
  box-shadow: 0px 0px 40px 0px #00000041;
}

#product_name {
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0px;
}

#product_price {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}

#product_rating {
  font-size: 16px;
  margin: 10px 0px;
  color: orange;
}

#product_rating span {
  color: var(--text-color2);
  margin-left: 15px;
}

#product_details {
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#product_details span {
  display: block;
}

.seeBtn {
  width: 100%;
  margin: 40px;
  text-align: right;
  color: var(--hero-color);
  font-size: 18px;
  cursor: pointer;
}

/* footer section */

footer {
  width: 100%;
  height: 250px;
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

footer h2 {
  margin-bottom: 10px;
}

footer p {
  margin: 0px;
  color: #d9dbe1;
}

.social_link {
  margin: 20px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.social_link i {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22203b;
  border-radius: 50px;
  cursor: pointer;
}
